<div class="flex items-start gap-2">
  <button
    mat-icon-button
    disableRipple
    class="mt-0 !h-60 !w-10 !shrink-0 !rounded-lg !bg-blue-100/80 !text-blue-700 !border !border-blue-200/50 !shadow-sm !backdrop-blur-[12px] transition"
    (click)="scrollLeft()"
    aria-label="Filmes anteriores"
  >
    <mat-icon class="!text-3xl">chevron_left</mat-icon>
  </button>

  <div
    #carousel
    class="flex min-w-0 gap-4 overflow-x-auto scroll-smooth scrollbar-hide"
    (scroll)="onScroll()"
  >
    @for (movie of loopedMovies; track $index) {
      <div class="w-40 flex-shrink-0">
        <app-movie-card [movie]="movie" />
      </div>
    }
  </div>

  <button
    mat-icon-button
    disableRipple
    class="mt-0 !h-60 !w-10 !shrink-0 !rounded-lg !bg-blue-100/80 !text-blue-700 !border !border-blue-200/50 !shadow-sm !backdrop-blur-[12px] transition"
    (click)="scrollRight()"
    aria-label="Próximos filmes"
  >
    <mat-icon class="!text-3xl">chevron_right</mat-icon>
  </button>
</div>
