:host {
  display: block;
  --mdc-outlined-text-field-outline-color: rgba(255, 255, 255, 0.6);
  --mdc-outlined-text-field-hover-outline-color: #ffffff;
  --mdc-outlined-text-field-focus-outline-color: #ffffff;
  --mdc-outlined-text-field-label-text-color: rgba(255, 255, 255, 0.7);
  --mdc-outlined-text-field-hover-label-text-color: #ffffff;
  --mdc-outlined-text-field-focus-label-text-color: #ffffff;
  --mdc-outlined-text-field-input-text-color: #ffffff;
  --mdc-outlined-text-field-input-text-placeholder-color: rgba(255, 255, 255, 0.6);
  --mdc-outlined-text-field-caret-color: #ffffff;
  --mat-form-field-leading-icon-color: rgba(255, 255, 255, 0.7);
}
